{% extends 'base.html' %}

{% block content %}
<h1>College Details</h1>
<div class="table-responsive mt-5">
<br>
<table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                
                <th>College Name</th>
                <th> City</th>
                <th>State</th>
                <th>Region</th>
                <th>Action</th>
                
            </tr>
        </thead>
        <tbody>
        {% for entry in data %}
            <tr>
               
                
                <td>{{entry.college_name}}</td>
                <td>{{entry.college_city}}</td>
                <td>{{entry.college_state}}</td>
                <td>{{entry.college_region}}</td>
                <td><a href="{% url 'college-edit' id=entry.id %}" class="btn btn-outline-info" >Edit</a>
                <a href="{% url 'college-delete' id=entry.id %}" class="btn btn-outline-danger" >Delete</a>
                
                </td>
           
            </tr>       
        {% endfor %}

        </tbody>

    </table>

</div>
{% endblock content %}


