{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<section>

  <form method='POST'>
    {% csrf_token %}
    <div class='row'>
        <div class='col-6'>
            {{g_form | crispy}}
        </div>
        <div class='col-6'>
            {{s_form | crispy}}
        </div>
        <div class='col-6'>
            {{n_form | crispy}}
        </div>
        <div class='col-6'>
            {{c_form | crispy}}
        </div>
    </div>
    <br>
    <button class='btn btn-secondary btn-block' type='sumbit'>Create a Event</button>

  </form>

</section>


{% endblock content %}
