{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<section>



<!-- Modal -->
<div
  class="modal fade"
  id="commentModal"
  data-mdb-backdrop="static"
  data-mdb-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Add comment</h5>
        <button
          type="button"
          class="btn-close"
          data-mdb-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form method="POST">
      <div class="modal-body">
          {% csrf_token %}
          {{form | crispy }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
          Close
        </button>
        <button type="submit" class="btn btn-primary">Post Comment</button>
      </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade"
  id="DeleteModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Event</h5>
        <button
          type="button"
          class="btn-close"
          data-mdb-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">Are you sure you want to delete the selected event?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
          Close
        </button>
        <a type="submit" class="btn btn-danger" href="{% url 'event-delete' event_id=data.id %}">
          Yes I'm Sure
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Modal for signing up for the event -->
<div
  class="modal fade"
  id="SignupeventModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to signup?</h5>
        <button
          type="button"
          class="btn-close"
          data-mdb-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
          No
        </button>
        <a class="btn btn-danger" href="{% url 'signup-event' id=data.id %}">Yes</a>
      </div>
    </div>
  </div>
</div>


{% if not request.user in data.accepted_users.all and not request.user.is_superuser %}
<button
  type="button"
  class="btn btn-primary mb-2"
  data-mdb-toggle="modal"
  data-mdb-target="#SignupeventModal">
  Signup for this event
</button>
{% elif request.user in data.assigned_user.all %}
<span class="badge rounded-pill bg-success">This Event is assigned for you.</span>
{% elif request.user in data.accepted_users.all %}
  <span class="badge rounded-pill bg-secondary">You have already signed up for this event.</span>
{% endif %}

<!-- Button trigger modal -->




<div class="row">
<h2>Event Detail</h2>
  <div class="col-lg-6">
    <ol class="list-group ">
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div><strong>Registered Academic Ambassador (Y/N):</strong> {{data.ambassodor}}</div>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div><strong>Event Date:</strong></strong> {{data.date}}</div>
        </div>
      </li>
      
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div><strong>Event/Activity Type:</strong> {{data.event_activity_type}}</div>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div><strong>Technology Track:</strong> {{data.technology_tracks}}</div>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div><strong>Event/Activity Mode:</strong> {{data.event_activity_mode}}</div>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div><strong>Organized By:</strong> {{data.organised_by}}</div>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Comments</div>
          <ul class="list-group">
          {% for entry in data.get_comments %}
            <li class="list-group-item">
              <span class="fw-bold">{{entry.user.username}}:</span> {{entry.comment}}
            </li>
          {% endfor %}
          </ul>
        </div>
      </li>
    </ol>
  </div>
  <div class="col-lg-6">
    <ol class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div><strong>Session Topic Name:</strong> {{data.session_topic_name}}</div>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div><strong>Session Duration in hours (1 - 8):</strong> {{data.session_duration}}</div>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div><strong>No. of attendees:</strong> {{data.number_of_attendees}}</div>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div><strong>Institution Name:</strong> {{data.institution_name.college_name}}</div>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div><strong>Institution City:</strong> {{data.institution_name.college_city}}</div>
        </div>
      </li>
      {% comment %} <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div><strong>Subject Matter Expert (SME) Name:</strong> {{data.sme.sme_name}}</div>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div><strong>SME Notes ID:</strong> {{data.sme.sme_notes_id}}</div>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div><strong>SME Manager Notes ID:</strong> {{data.sme_details.sme_manager_notes_id}}</div>
        </div>
      </li> {% endcomment %}
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div><strong>Link of Academic Initiative:</strong> {{data.link}}</div>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div><strong>Status:</strong> {{data.status}} </div>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div><strong>College Category:</strong> {{data.college_category}}</div>
        </div>
      </li>
    </ol>
  </div>
</div>


{% if request.user.is_superuser %}
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <h4>Signed users</h4>
          {% for users in data.accepted_users.all %}
              <li class="list-group-item">{{users.username}}</li>
          {% endfor %}
      </div>
      <div class="col-md-6">
        <h4>Assign the Event</h4>
          <form method='POST'>
            {% csrf_token %}
            {{a_form | crispy}}
            <button class='btn btn-secondary btn-block mt-3 mb-3' type='sumbit'>Assign the Event</button>   
          </form>
      </div>
    </div>
  </div>
</div>
{% endif %}


{% comment %} Buttons {% endcomment %}
<div class="row">

  {% if user.is_superuser %}
    <div class="col m-3">
      {% if data.publish %}
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="hidden_option" value="0">
            <button type="submit"
                    class="btn btn-info btn-block">
                      Unpublish Event
            </button>
        </form>
        {% else %}
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="hidden_option" value="1">
            <button type="submit"
                    class="btn btn-info btn-block">
                      Publish  Event
            </button>
        </form>
      {% endif %}
    </div>
  {% endif %}
  {% if user.is_superuser or request.user in data.assigned_user.all %}
    <div class="col m-3">
      <button type="button" class="btn btn-primary btn-block" data-mdb-toggle="modal" data-mdb-target="#commentModal">
        Add a comment
      </button>
    </div>
    <div class="col m-3">
    {% if request.user.is_superuser %}
            <a class="btn btn-success btn-block" href="{% url 'event-update' event_id=data.id %}">Update event</a>
    {% else %}
            <a class="btn btn-success btn-block" href="{% url 'event-update-user' event_id=data.id %}">Update event</a>
    {% endif %}
    </div>
    {% if not request.user.is_superuser %}
    <div class="col m-3">

      {% if data.get_status %}
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="hidden_option_mark" value="0">
            <button type="submit"
                    class="btn btn-info btn-block">
                      Unmark as Complete
            </button>
        </form>
        {% else %}
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="hidden_option_mark" value="1">
            <button type="submit"
                    class="btn btn-info btn-block">
                      Mark as Complete
            </button>
        </form>
      {% endif %}
    
    </div>
    {% endif %}

  {% endif %}
  {% if user.is_superuser %}
      <div class="col m-3">
        <button type="button" class="btn btn-danger btn-block" data-mdb-toggle="modal" data-mdb-target="#DeleteModal">Delete event</button>
      </div>
  {% endif %}

</div>



</section>


{% endblock content %}

