{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<section>



<!-- Modal -->
<div
  class="modal fade"
  id="commentModal"
  data-mdb-backdrop="static"
  data-mdb-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Add comment</h5>
        <button
          type="button"
          class="btn-close"
          data-mdb-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form method="POST">
      <div class="modal-body">
          {% csrf_token %}
          {{form | crispy }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
          Close
        </button>
        <button type="submit" class="btn btn-primary">Post Comment</button>
      </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade"
  id="DeleteModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Event</h5>
        <button
          type="button"
          class="btn-close"
          data-mdb-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">Are you sure you want to delete the selected event?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
          Close
        </button>
        <a type="submit" class="btn btn-danger" href="{% url 'event-delete' event_id=data.id %}">
          Yes I'm Sure
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Modal for signing up for the event -->
<div
  class="modal fade"
  id="SignupeventModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Signup for the event</h5>
        <button
          type="button"
          class="btn-close"
          data-mdb-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
          Close
        </button>
        <a class="btn btn-danger" href="{% url 'signup-event' id=data.id %}">Signup for the event</a>
      </div>
    </div>
  </div>
</div>


{% if not request.user in data.accepted_users.all and not request.user.is_superuser %}
<button
  type="button"
  class="btn btn-primary mb-2"
  data-mdb-toggle="modal"
  data-mdb-target="#SignupeventModal">
  Signup for this event
</button>
{% endif %}

<!-- Button trigger modal -->




<div class="row">
  <div class="col-lg-6">
    <ol class="list-group ">
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto row">
          <div class="row">
          <div class="col-md-10">
          <div class="fw-bold col-md-10">Registered Academic Ambassador(Y/N)</div>
          </div>
          <div class="col-md-2">
          <div class="col-md-2">{{data.sme_details.ambassodor}}</div>
          </div>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
        <div class="row">
          <div class="col-md-3">
          <div class="fw-bold">Date</div>
           </div>
          <div class="col-md-9">
          {{data.date}}
           </div>
        </div>
        </div>
      </li>
      
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
         <div class="row">
          <div class="col-md-8">
          <div class="fw-bold">Activity Type</div>
          </div>
          <div class="col-md-4">
          {{data.event_activity_type}}
        </div>
        </div>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
        <div class="row">
          <div class="col-md-8">
          <div class="fw-bold">Technology Track</div>
          </div>
          <div class="col-md-4">
          {{data.technology_tracks}}
        </div>
        </div>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
        <div class="row">
          <div class="col-md-6">
          <div class="fw-bold">Activity Mode</div>
          </div>
          <div class="col-md-2">
          {{data.event_activity_mode}}
        </div>
        </div>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
        <div class="row">
          <div class="col-md-8">
          <div class="fw-bold">Organized By</div>
          </div>
          <div class="col-md-4">
          {{data.organised_by}}
        </div>
        </div>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
        <div class="row">
          <div class="col-md-6">
          <div class="fw-bold">Comments</div>
          <ul class="list-group">
          </div>
          <div class="col-md-2">
          {% for entry in data.get_comments %}
            <li class="list-group-item">
              {{entry.comment}}
            </li>
          {% endfor %}
          </div>
        </div>
          </ul>
        </div>
      </li>
    </ol>
  </div>
  
  <div class="col-lg-6">
    <ol class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
        <div class="row">
          <div class="col-md-10">
          <div class="fw-bold">Topic Name</div>
          </div>
          <div class="col-md-2">
          {{data.sme_details.session_topic_name}}
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
        <div class="row">
          <div class="col-md-10">
          <div class="fw-bold">Duration(hours)</div>
          </div>
          <div class="col-md-2">
          {{data.sme_details.session_duration}}
        </div>
        </div>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
        <div class="row">
          <div class="col-md-10">
          <div class="fw-bold">No. of attendees</div>
          </div>
          <div class="col-md-2">
          {{data.number_of_attendees}}
        </div>
        </div>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
        <div class="row">
          <div class="col-md-11">
          <div class="fw-bold">Institution Name</div>
          </div>
          <div class="col-md-1">
          {{data.institution_name.college_name}}
        </div>
        </div>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
        <div class="col-md-4">
          <div class="fw-bold">City</div>
          </div>
          <div class="col-md-8">
          {{data.institution_name.college_city}}
        </div>
        </div>
        </div>
      </li>

      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
        <div class="row">
          <div class="col-md-10">
          <div class="fw-bold">SME Name</div>
          </div>
          <div class="col-md-2">
          {{data.sme_details.sme_name}}
        </div>
        </div>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
        <div class="row">
          <div class="col-md-10">
          <div class="fw-bold">Notes ID</div>
          </div>
          <div class="col-md-2">
          {{data.sme_details.sme_notes_id}}
        </div>
        </div>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
        <div class="row">
          <div class="col-md-10">
          <div class="fw-bold">Manager Notes ID</div>
          </div>
          <div class="col-md-2">
          {{data.sme_details.sme_manager_notes_id}}
        </div>
        </div>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
        <div class="row">
          <div class="col-md-10">
          <div class="fw-bold">Link of Academic Initiative </div>
          </div>
          <div class="col-md-2">
          {{data.link}}
        </div>
        </div>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
        <div class="row">
          <div class="col-md-6">
          <div class="fw-bold">Status </div>
          </div>
          <div class="col-md-6">
          {{data.status}}
        </div>
        </div>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
        <div class="row">
          <div class="col-md-10">
          <div class="fw-bold">College Category</div>
          </div>
          <div class="col-md-2">
          {{data.college_category}}
        </div>
        </div>
        </div>
      </li>
    </ol>
  </div>
</div>

<br>

{% comment %} {% if user.is_superuser %}
<div class="row">
  <ol>
    {% for user in data.accepted_users.all %}
      <li>{{user.username}}</li>
    {% endfor %}
  </ol>
</div>
{% endif %} {% endcomment %}


<div class="row">
  <div class="col mb-3">
  {% if user.is_superuser %}
          {% if data.publish %}
          <form method="POST">
              {% csrf_token %}
              <input type="hidden" name="hidden_option" value="0">
              <button type="submit"
                      class="btn btn-info btn-block">
                        Unpublish Event
              </button>
          </form>
        {% endif %}


        {% if not data.publish %}
          <form method="POST">
              {% csrf_token %}
              <input type="hidden" name="hidden_option" value="1">
              <button type="submit"
                      class="btn btn-info btn-block">
                        Publish  Event
              </button>
          </form>
        {% endif %}
  {% endif %}
  </div>
  <div class="col mb-3">
    <button type="button" class="btn btn-primary btn-block" data-mdb-toggle="modal" data-mdb-target="#commentModal">
      Add a comment
    </button>
  </div>
  <div class="col mb-3">
  {% if user.is_superuser %}
    <button type="button" class="btn btn-danger btn-block" data-mdb-toggle="modal" data-mdb-target="#DeleteModal">Delete event</button>
  {% endif %}
  </div>
  <div class="col mb-3">
  {% if user.is_superuser or request.user in data.assigned_user.all %}
    <a class="btn btn-success btn-block" href="{% url 'event-update' event_id=data.id %}">Update event</a>
  {% endif %}
  </div>
  <div class="col mb-3">
  {% if user.is_superuser %}
    <a class="btn btn-success btn-block" href="{% url 'event-assign' id=data.id %}">Assign event</a>
  {% endif %}
  </div>
</div>





<br>

</section>


{% endblock content %}


