    <!--Main Navigation-->
<header>
  <!-- Sidebar -->
  <nav
       id="sidebarMenu"
       class="collapse d-lg-block sidebar collapse bg-white"
       >
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">
          <a class="list-group-item list-group-item-action py-2 ripple" href="#" id="navbarDropdown" role="button" data-mdb-toggle="dropdown"
            aria-expanded="true">
            Manage Event
          </a>
          <!-- Dropdown menu -->
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="{% url 'create-event' %}">Create Event</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'event' %}">Event details</a>
            </li>
          </ul>

          <a class="list-group-item list-group-item-action py-2 ripple" href="#" id="navbarDropdown2" role="button" data-mdb-toggle="dropdown"
            aria-expanded="true">
            Manage College
          </a>
          <!-- Dropdown menu -->
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
            <li>
              <a class="dropdown-item" href="{% url 'college-create' %}">Create College</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'college-details' %}">College Edit</a>
            </li>
          </ul>
       
        {% if request.user.is_superuser %}
        <a
           href="/admin"
           class="list-group-item list-group-item-action py-2 ripple"
           ><span>Admin Site</span></a
          >
        {% endif %}
      </div>
    </div>
  </nav>
  <!-- Sidebar -->

  <!-- Navbar -->
  <nav
       id="main-navbar"
       class="navbar navbar-expand-lg navbar-light bg-white fixed-top"
       >
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
              class="navbar-toggler"
              type="button"
              data-mdb-toggle="collapse"
              data-mdb-target="#sidebarMenu"
              aria-controls="sidebarMenu"
              aria-expanded="false"
              aria-label="Toggle navigation"
              >
        <i class="fas fa-bars"></i>
      </button>

      <!-- Brand -->
      <a class="navbar-brand" href="#">
          Event Management
      </a>


      <!-- Right links -->
      <ul class="navbar-nav ms-auto d-flex flex-row">


      {% if user.is_authenticated %}
        <!-- Icon -->
        <li class="nav-item">
          <a class="nav-link me-3 me-lg-0" href="{% url 'logout' %}">
            <i class="fas fa-sign-out-alt"></i>Sign out
          </a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link me-3 me-lg-0" href="{% url 'login' %}">
            <i class="fas fa-sign-in-alt"></i>Sign in
          </a>
        </li> 
      {% endif %}


      </ul>
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
</header>
<!--Main Navigation-->