{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<section>

<!-- Comment modal -->
<button type="button" class="btn btn-primary mb-3" data-mdb-toggle="modal" data-mdb-target="#commentModal">
  Add a comment
</button>

<!-- event modal -->
<button type="button" class="btn btn-primary mb-3" data-mdb-toggle="modal" data-mdb-target="#eventModal">
  Edit the Event
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="commentModal"
  data-mdb-backdrop="static"
  data-mdb-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Add a comment</h5>
        <button
          type="button"
          class="btn-close"
          data-mdb-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form method="POST">
      <div class="modal-body">
          {% csrf_token %}
          {{form | crispy }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
          Close
        </button>
        <button type="submit" class="btn btn-primary">Post the Comment</button>
      </div>
      </form>
    </div>
  </div>
</div>


<!-- Event Modal -->
<div
  class="modal fade"
  id="eventModal"
  data-mdb-backdrop="static"
  data-mdb-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Edit the Event</h5>
        <button
          type="button"
          class="btn-close"
          data-mdb-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form method="POST">
      <div class="modal-body">
          {% csrf_token %}
          {{e_form | crispy }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
          Close
        </button>
        <button type="submit" class="btn btn-primary">Save the Changes</button>
      </div>
      </form>
    </div>
  </div>
</div>

<ol class="list-group ">
 
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Subject Matter Expert (SME) Name</div>
      {{data.sme_details.sme_name}}
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">SME Notes ID</div>
      {{data.sme_details.sme_notes_id}}
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">SME Manager Notes ID</div>
      {{data.sme_details.sme_manager_notes_id}}
    </div>
  
      {% endfor %}
      </ul>
    </div>
  </li>
</ol>

</section>


{% endblock content %}


