{% extends 'base.html' %}

{% block content %}

<div class="card mt-1">
    <div class="card-body table-responsive ">
    <h4 class="card-title">List of SME</h4>
            <table id="sme_table" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>Ambassodor</th>
                            <th>Name</th>
                            <th>Notes ID</th>
                            <th>Manager Notes ID</th>
                            <th>BU</th>
                            <th>Location</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for entry in smes %}
                        <tr>
                        
                            <td>{{entry.ambassodor}}</td>
                            <td>{{entry.sme_name}}</td>
                            <td>{{entry.sme_notes_id}}</td>
                            <td>{{entry.sme_manager_notes_id}}
                            <td>{{entry.sme_bu}}</td>
                            <td>{{entry.sme_location}}</td>
                            <td><a href="{% url 'edit-sme' id=entry.id %}" class="btn btn-outline-info" >Edit SME</a></td>
                        </tr>       
                    {% endfor %}

                    </tbody>

            </table>
    </div>
</div>

{% endblock content %}


