{% extends 'base.html' %}

{% block content %}
<div class="table-responsive mt-5">
<table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Registered</th>
                <th>Event Date</th>
                <th>Event Month</th>
                <th>Event Year</th>
                <th>Quarter</th>
                <th>Event/Activity Type</th>
                <th>Event/Activity Type</th>
                <th>Organised By</th>
            </tr>
        </thead>
        <tbody>
        {% for entry in data %}
            <tr>
                <td>{{entry.ambassodor}}</td>
                <td>{{entry.date | date:"d -- D"}}</td>
                <td>{{entry.date | date:"M"}}</td>
                <td>{{entry.date | date:"Y"}}</td>
                <td>{{entry.quarter}}</td>
                <td>{{entry.event_activity_type}}</td>
                <td>{{entry.technology_tracks}}</td>
                <td>{{entry.organised_by}}</td>
            </tr>       
        {% endfor %}

        </tbody>

    </table>

</div>
{% endblock content %}


