{% extends 'base.html' %}

{% block content %}
<div class="table-responsive mt-5">
{% if request.user.is_superuser %}
        <a class="btn btn-danger" href="{% url 'create-event'  %}">Manage event</a>
{% endif %}
<br>
<table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                
                <th>Event Date</th>
                <th>Quarter</th>
                <th>Event/Activity Type</th>
                <th>Technology Track</th>
                <th>Organised By</th>
                <th>Detail</th>
            </tr>
        </thead>
        <tbody>
        {% for entry in data %}
            <tr>
               
                <td>{{entry.date | date:"d"}}-{{entry.date | date:"M"}}-{{entry.date | date:"Y"}}</td>
                <td>{{entry.quarter}}</td>
                <td>{{entry.event_activity_type}}</td>
                <td>{{entry.technology_tracks}}</td>
                <td>{{entry.organised_by}}</td>
                <td><a href="{% url 'event-detail' event_id=entry.id %}" class="btn btn-outline-info" >Detail</a></td>
            </tr>       
        {% endfor %}

        </tbody>

    </table>

</div>
{% endblock content %}


